.sns-link > a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #c1c6fc;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    margin: 20px auto;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }
  
  .sns-link > a:hover {
    background-color: #c0e5ff;
    cursor: pointer;
  }
  
  .sns-link > a i {
    font-size: 30px;
    margin-right: 10px;
  }
  
  .sns-link > a span {
    margin-left: 10px;
  }
